<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>hospital List</title>
    <style>

        *{
            margin:0px;
            padding: 0px;
        }
        .nav{
            background-color: aquamarine;
            position: relative;
            top:0px;
            left:0px;
            right: 0px;
            width: 100%;
            ;
        }
        h1{
            font-family: Arial, Helvetica, sans-serif;
            color:red;
            text-align: center;
            font-size:xx-large;
        }
    </style>
</head>
<body>
    <div class="nav">
        <h1>Hospital's List</h1>
    </div>
    <div class="d-inline-flex flex-wrap p-2 ">
        {% for hospital in hospitals  %}
        
            <div class="card mt-3 mx-auto py-5 px-3 "  style="width: 22%;padding:10px;">
                {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
                <div class="card-body">
                    <h3>Name : {{hospital.name}}</h3>
                    <h3>State : {{hospital.state}}</h3>
                    <h3>District : {{hospital.district}}</h3>
                </div>
                <div>
                    <a href="{% url 'createHospital' %}"><button class="btn btn-secondary">Add</button></a>
                    <a href="{% url 'viewHospital' %}"><button class="btn btn-success">Back</button></a>
                    <a href="{% url 'updateHospital' hospital.pk %}"><button class="btn btn-primary">Update</button></a>
                    <a href="{% url 'deleteHospital' hospital.pk %}"><button class="btn btn-danger">Delete</button></a>
                </div>
        </div>    
    {% endfor %}
    </div>

</body>
</html>